# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/

# VS Code / IDE settings
.vscode/
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Migrations (optional: you can keep them later after first migrate)
*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py
